/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', sans-serif;
}

a {
  color: #b20e10 !important;
}

.irs-single, .irs-bar-edge, .irs-bar {
  background: #b20e10 !important;
  border-top: 1px solid #b20e10 !important;
  border-bottom: 1px solid #b20e10 !important;
}

.irs-from, .irs-to, .irs-single {
  background: #b20e10;
}

#ttests-ttest_output {
  font-size: 16px;
}

#sample_button {
  background-color: lightgrey;
  color: black;
  border: none;
}

#sample_button:hover {
  background-color: #b20e10;
  color: white;
  border: none;
}
